<div class="row">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="input-field col s6">
          <input id="movietitle" type="text" class="validate" ng-model="filter">
          <label for="movietitle">Filter</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit"ng-click="$ctrl.search(filter)" ng-disabled="!filter">Filter</button>
    </div>
  </div>

</div>

<movies-collection movies="$ctrl.movies" add="$ctrl.add(movie)"></movies-collection>
